﻿@model LeagueManager.Models.YouthPlayer

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>YouthPlayer</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ParentID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ParentID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Soccer)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Soccer)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Baseball)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Baseball)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Basketball)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Basketball)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Softball)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Softball)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cheerleading)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cheerleading)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Football)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Football)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.PlayerID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
