﻿@model IEnumerable<LeagueManager.Models.YouthPlayer>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ParentID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Soccer)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Baseball)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Basketball)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Softball)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cheerleading)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Football)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.FirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LastName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ParentID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Soccer)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Baseball)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Basketball)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Softball)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Cheerleading)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Football)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.PlayerID }) |
            @Html.ActionLink("Details", "Details", new { id=item.PlayerID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.PlayerID })
        </td>
    </tr>
}

</table>
