﻿@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>
<address>
    Local Location<br />
    Here, OK 55555<br />
    <abbr title="Phone">P:</abbr>
    425.555.0100
</address>

<address>
    <p>Development Team :</p>
    <strong>Jordan Anderson:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>Derek Phillips:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>Andrew Billy:</strong>   <a href="mailto:Support@example.com">Support@example.com</a>
</address>
<p>Use this area to provide additional information.</p>
