﻿@using Microsoft.AspNet.Identity;
@{
    
    if (User.Identity.IsAuthenticated && User.IsInRole("Coach") || User.IsInRole("Admin")) { 
    Layout = "~/Views/Shared/_Layout.cshtml";
    }
    else
    {
        Layout = "~/Views/Shared/Error.cshtml";
    }
}


<p>@ViewBag.Message</p>

    <h1>Restricted: Coaches only!</h1>


