﻿@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>League Manager</h1>
    <p class="lead">This is the place to set up some league / tournament stuffs.</p>
    <p> TODO: Derive User Role at this point and show link accordingly:</p>
    <p >@Html.ActionLink("About Us", "About")</p>
    <p>@Html.ActionLink("Add Player", "Index","YouthPlayers")</p>
    <p>@Html.ActionLink("Assign Players", "Index", "YouthPlayers")</p>
    
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Some Content Here</h2>
        <p>
            Some things with images for prettiness.
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>And then More !</h2>
        <p>The aweseomness never ends with are limitless content !</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Finally</h2>
        <p>I'm not sure what is goin to be used for filler here....</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>